<div data-role="header" data-position="fixed">
	<h1>Gruppenplaner</h1>
</div>

<div class="ui-content" role="main">
	<div style="text-align: center; margin: 20px 0 30px 0;">Finden Sie ganz einfach passende Termine für Ihre Gruppen.
	</div>

	<ol style="-webkit-padding-start: 20px; margin-bottom: 40px;">
	<li style="margin: 5px 0;">Gruppe erstellen</li>
		<li style="margin: 5px 0;">Mitglieder einladen</li>
		<li style="margin: 5px 0;">Stundenplan synchronisieren & andere Zeiträume blocken</li>
		<li style="margin: 5px 0;">Gemeinsame Termine auswählen</li>
		<li style="margin: 5px 0;">Effektiver Arbeiten & Lernen!</li>
	</ol>

	<input id="go-btn" type="button" value="Jetzt loslegen">
</div>