<div data-role="header" data-position="fixed">
	<a href="#" data-icon="back" data-iconpos="notext" class="back ui-btn-left">Back</a>

	<h1><%- group.name %></h1>
	<a id="add-member-btn" class="ui-btn-right" data-icon="plus" data-iconpos="notext">Einladen</a>
</div>

<div class="ui-content" role="main">
	<ul data-role="listview">
		<!-- pending invite handling -->
		<% if (pendingInvite) { %>
		<li>
			<p>Sie wurden von <%= pendingInvite.invitedBy %> eingeladen dieser Gruppe beizutreten.</p>
			<span id="accept-invite-btn">Beitreten</span> <span id="decline-invite-btn">Ablehnen</span>
		</li>
		<% } %>

		<!-- accepted dates -->
		<% if (!pendingInvite && dates.length > 0) { %>
		<li data-role="list-divider">Termine</li>
		<% _.each( dates, function( date ){ %>
		<li>
			<%= date.name %>
		</li>
		<% }); %>
		<% } %>

		<!-- member -->
		<li data-role="list-divider">Mitglieder</li>
		<% _.each( members, function( member ){ %>
		<li>
			<% if (member.email !== userEmail) { %>
			<div data-role="controlgroup" data-type="horizontal" data-mini="true" style="float: right; margin: 0;">
				<span data-member-email="<%= member.email %>"
					  class="ui-btn ui-corner-all ui-icon-mail ui-btn-icon-notext">Mail schreiben</span>
				<span data-member-email="<%= member.email %>"
					  class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext">Löschen</span>
			</div>
			<% } %>

			<p><%= member.name %> <%= member.email %></p>

			<p>Status: <%= member.invitationState %> (<%= member.lastStateChange %>)</p>

			<p>eingeladen von: <%= member.invitedBy %></p>
		</li>
		<% }); %>

		<!-- other options -->
		<% if (!pendingInvite) { %>
		<li data-role="list-divider">Optionen</li>
		<li id="rename-group-btn"><a>Gruppe umbenennen</a></li>
		<li id="leave-group-btn"><a>Gruppe verlassen</a></li>
		<% } %>
	</ul>
</div>