<div data-role="header" data-position="fixed">
	<h1>Gruppen</h1>
	<a id="settings-btn" class="ui-btn-left" data-icon="gear" data-iconpos="notext" href="#settings">Einstellungen</a>
	<a class="add-group-btn ui-btn-right" data-icon="plus" data-iconpos="notext">Neue Gruppe</a>
</div>

<div class="ui-content" role="main">
	<% if(groups.length > 0) { %>

	<ul data-role="listview">
		<% _.each( groups, function( group ){ %>
		<li><a href="#group/<%= group.id %>">
			<h3 style="margin: 0;"><%- group.name %></h3>
			<p style="margin: 0;"><%- groupsStatus[group.id].text %></p>
			</a>
		</li>
		<% }); %>
	</ul>

	<% } else { %>

	<div style="text-align: center; margin-top: 30px;">Sie sind noch nicht Mitglied einer Gruppe.</div>
	<div style="text-align: center; margin-top: 150px;">Erstellen Sie jetzt eine neue Gruppe oder lassen Sie sich von
		Ihren Kommilitonen einladen.
	</div>
	<button class="add-group-btn" style="margin-top: 20px;">Gruppe erstellen</button>

	<% } %>
</div>