<div data-role="header" data-position="fixed">
	<a onclick="window.history.back();" data-icon="back" data-iconpos="notext" class="back ui-btn-left">Back</a>

	<h1><%- group.name %></h1>
</div>

<div class="ui-content" role="main">
	<ul data-role="listview">
		<!-- pending invite handling -->
		<% if (pendingInvite) { %>
		<li>
			<p style="white-space: normal;">Sie wurden von <%= pendingInvite.invitedBy %> eingeladen dieser Gruppe beizutreten.</p>
			<button id="accept-invite-btn" style="width: 49%; float:left;">Beitreten</button>
			<button id="decline-invite-btn" style="width: 49%; float:right;">Ablehnen</button>
		</li>
		<% } %>

		<!-- accepted dates -->
		<% if (!pendingInvite) { %>
		<li data-role="list-divider">Termine</li>

		<% if (dates.length == 0) { %>
		<li>Keine Termine erstellt</li>
		<% }; %>

		<% _.each( dates, function( date ){
		start = app.groupplaner.DateConverter.apiDateIntToFormattedDateObj(date.start);
		end = app.groupplaner.DateConverter.apiDateIntToFormattedDateObj(date.end);
		%>
		<li>
			<div style="float:left;margin: 7px 0 0 0;"><%= start.weekday %> <%= start.time %> - <%= end.weekday %> <%=
				end.time %>
			</div>
			<div data-role="controlgroup" data-type="horizontal" data-mini="true" style="float: right; margin: 0px;">
				<span data-date-id="<%= date.id %>"
					  class="delete-date ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext">Löschen</span>
				<span data-date-id="<%= date.id %>"
					  class="edit-date ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext">Ändern</span>
			</div>
		</li>
		<% }); %>

		<li><a href="#group/<%= group.id %>/potentialDates">Termine erstellen</a></li>

		<% }; %>

		<!-- member -->
		<li data-role="list-divider">Mitglieder</li>
		<% _.each( members, function( member ){ %>
		<li>
			<h3 style="font-weight: bold; margin-top:0;"><%= member.email %></h3>

			<% if (member.email !== userEmail) { %>
			<div data-role="controlgroup" data-type="horizontal" data-mini="true" style="float: right; margin: 0 0 0 10px;">
				<span data-member-email="<%= member.email %>"
					  class="mail-member ui-btn ui-corner-all ui-icon-mail ui-btn-icon-notext">Mail schreiben</span>
				<span data-member-email="<%= member.email %>"
					  class="delete-member ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext">Löschen</span>
			</div>
			<% } %>

			<p>
			<% if (member.invitationState === "ACCEPTED" && member.invitedBy === member.email) { %>
				Mitglied seit: <%= member.lastStateChange %><br>
					Gruppengründer(in)
				<% } else if (member.invitationState === "ACCEPTED" && member.invitedBy !== member.email) { %>
				Mitglied seit: <%= member.lastStateChange %><br>
				eingeladen von: <%= member.invitedBy %>
			<% } else if (member.invitationState === "INVITED") { %>
				Eingeladen am <%= member.lastStateChange %><br>
				eingeladen von: <%= member.invitedBy %>
			<% } %>
			</p>

		</li>
		<% }); %>

		<!-- other options -->
		<% if (!pendingInvite) { %>
		<li data-role="list-divider">Optionen</li>
		<li id="add-member-btn"><a>Neues Miglied einladen</a></li>
		<li id="rename-group-btn"><a>Gruppe umbenennen</a></li>
		<li id="leave-group-btn"><a>Gruppe verlassen</a></li>
		<% } %>
	</ul>
</div>