/**
* Styles to fix the new iOS 7 transparent status bar
*/
#ios7statusbar {
	width:100%;
	height:20px;
	background-color: rgb(10, 67, 94);
	position:fixed;
	z-index:10000;
}
.ios7 .ui-page, .ios7 .ui-header, .ios7 .ui-pane {
	margin-top: 20px;
}

.jqm-header {
	background-color: white;
}

.ui-header {
	background-color: rgb(10, 67, 94) !important;
}

.ui-title {
	text-shadow: none !important;
	color: #ffffff;
}