/**
* Style to fix the new iOS 7 transparent status bar
*/
.ios7 .ui-header {
    border-top: solid 20px rgb(30, 84, 138);
}




.jqm-header {
	background-color: white;
}

.ui-header {
    background-color: rgb(30, 84, 138) !important;
}

.ui-title {
	text-shadow: none !important;
	color: #ffffff;
}

.ui-header .ui-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none;
    color: transparent !important;
}

.ui-header .ui-btn:after {
    background-color: rgba(0, 0, 0, 0) !important;
}